.title{     font-size: 14px;
    font-family: roboto,arial;
    margin-top: 0;
    font-weight: 500;} 
    body{margin-top: 0;
         margin-bottom: 0;
         margin-left: 0;
         margin-right: 0;
         padding-top:60px;
         padding-left: 76px;
         padding-right:24px;
        padding-bottom: 300px;}
         
   